.app {
  text-align: center;
}
.contact{
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
}
.contacts{
  background-color: #fafafa;
  padding: 2vmax;
}
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 4, 160);
  color: #FFFFFF;
  padding: 2vh 2vw;
  box-sizing: border-box;
}

.loginform{
  text-align: center;
  font-family:'sans-serif';
  padding: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fafafa;
}

.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 55vh;
  justify-content: space-evenly;
  align-items: flex-start;
  text-transform: capitalize;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 4vh 3vw;
}
.inputtext{
  height: 5vh;
  width: 30vw;
  box-sizing: border-box;
}
.select{
  height: 5vh;
  width: 30vw;
}
.submitbtn{
  height: 5vh;
  background-color: blue;
  width: 30vw;
  color: #FFFFFF;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.error{
  color: red;
}
