.app {
  text-align: center;
}
.contact{
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
}
.contacts{
  background-color: #fafafa;
  padding: 2vmax;
}
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4, 4, 160);
  color: #FFFFFF;
  padding: 0vh 1vw;
  box-sizing: border-box;
}
